@font-face{font-family:'lato';src:url("../fonts/Lato-Regular.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Black';src:url("../fonts/Lato-Black.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Bold';src:url("../fonts/Lato-Bold.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Semibold';src:url("../fonts/Lato-Semibold.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Hairline';src:url("../fonts/Lato-Hairline.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Light';src:url("../fonts/Lato-Light.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Thin';src:url("../fonts/Lato-Thin.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Italic';src:url("../fonts/Lato-Italic.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-LightItalic';src:url("../fonts/Lato-LightItalic.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-HairlineItalic';src:url("../fonts/Lato-HairlineItalic.ttf");font-weight:normal;font-style:normal}
@font-face{font-family:'Lato-BlackItalic';src:url("../fonts/Lato-BlackItalic.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Constantia';src:url("../fonts/Constantia.ttf");font-weight:normal;font-style:normal;}
/*@font-face{font-family:'Tahoma';src:url("../fonts/tahoma/Tahoma.ttf");font-weight:normal;font-style:normal;}*/
@font-face{font-family:'HelveticaNeue';src:url("../fonts/HelveticaNeue/HelveticaNeue.ttf");font-weight:normal;font-style:normal;}
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: normal;
    src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot);
    src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v1/MoGpUcTu_oZLf0bsrG2xFQ.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v1/iZqLGfCYEEkWEsr6HQRnSQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v1/gtxIPk0-ZE5IZ2RrdsRLuQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}    

a:hover{color:#f58220;}
.uk-margin-top{margin-top:10px !important;}
.tm-headerbar, .tm-navbar, .tm-footer{margin-top:0px;margin-bottom:0px;padding-right:20px;}
.tm-headerbar{background:#55585d;margin-top:0px;}
.uk-icon-button{background:#55595d;color:#959d9f;font-size:22px;}
.uk-icon-button:hover, .uk-icon-button:focus{background-color:#f58220;color:#fff;outline:none;}
.uk-navbar{background:#fff;padding-left:15px;}
.uk-navbar-nav{padding-top: 50px;}
.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a{background-color:transparent;color:#f58220;outline:none;}
.uk-navbar-nav > li.uk-active > a{background-color:transparent;color:#f58220;}
.uk-navbar-nav > li > a{font-family:'Cairo';font-size:18px;color:#000;}
:lang(ar) .uk-navbar-nav > li > a{font-family:'Cairo';}
.uk-navbar-flip{float:left;}
.uk-search:before{content:url(../../../../../uploads/adeeb/search.png);padding-top:15px;}
.uk-search{padding-left:10px;padding-top:10px;}
/*.uk-navbar-content,*/ .uk-navbar-brand, .uk-navbar-toggle{height:auto;padding:10px;}
.uk-search-field:-ms-input-placeholder{color:#959d9f !important;}
.uk-search-field::-moz-placeholder{color:#959d9f;}
.uk-search-field::-webkit-input-placeholder{color:#959d9f;}
.uk-search-field{color:#959d9f;}
.tm-top-a .uk-panel-box{padding:0px;background:#d0d5d6;}
.site-logo{float:right;padding-top:25px;padding-bottom:25px;}
.home-page-bannner{float:left;}
.right-text-over-banner{color:#fff;font-family:'Cairo';font-size:58px;line-height:70px;padding-left:50px;padding-top:70px;padding-bottom:100px;}
:lang(ar) .right-text-over-banner{font-family:'Cairo';}
.left-text-over-banner{font-family:'Cairo';font-size:16px;color:#14538a;line-height:23px;padding-left:135px;padding-right:130px;padding-top:65px;text-align:justify;}
:lang(ar) .left-text-over-banner{font-family:'Cairo';line-height:27px;}
.custom-slide-show{float:left;}
.uk-panel-box{background:transparent;padding:0px!important;}
.uk-cover-background{background-size:inherit;}
.home-page-banner .uk-panel-teaser{margin-bottom:0px;}
.home-page-banner .uk-margin{margin-top:0px;}
.our-clients-heading{font-family:'Cairo';color:#f58220;font-size:45px;text-align:center;padding-top:80px;}
:lang(ar) .our-clients-heading{font-family:'Cairo';}
.uk-slidenav-contrast{color:#cecece;}
.home-page-map .uk-panel-box{padding:0px;}
.custom-double-quote-start{font-family:'Cairo';font-size:90px;color:#14538a;float:left;padding-top:80px;padding-left:95px;}
.custom-double-quote-end{font-family:'Cairo';font-size:90px;color:#14538a;float:right;padding-left:130px;margin-top:-30px;padding-top:0px;-moz-transform:rotate(-180.0deg);-o-transform:rotate(-180.0deg);-webkit-transform:rotate(-180.0deg);}
/*.custom-double-quote-start{font-family:'Constantia';font-size:90px;color:#ebeded;float:left;padding-top:80px;padding-left:95px;}
.custom-double-quote-end{font-family:'Constantia';font-size:90px;color:#ebeded;float:right;padding-left:130px;margin-top:-30px;padding-top:0px;-moz-transform:rotate(-180.0deg);-o-transform:rotate(-180.0deg);-webkit-transform:rotate(-180.0deg);}
.custom-double-quote-start-arebic{font-family:'Constantia';font-size:90px;color:#ebeded;float:right;padding-top:80px;padding-left:95px;}
.custom-double-quote-end-arebic{font-family:'Constantia';font-size:90px;color:#ebeded;float:left;} 
*/
.splash--subtitle a{color: white;}
/* .project-content {margin-bottom: 25%;} */
.custom-footer{background-image:url(../../../../../uploads/adeeb/bg-footer.png);background-repeat:repeat-x;height:auto;}
.footer-logo{padding-top:40px;padding-bottom:30px;}
.footer-ul{padding-left:14%;list-style:none;padding-bottom:35px;margin-top:15px;}
:lang(ar).padding-left:10%;
.footer-ul li a{float:left;color:#fff;font-family:'Cairo';font-size:16px;padding-left:5px;}
:lang(ar) .footer-ul li a{font-family:'Cairo';}
.footer-copyright-text{font-family:'Cairo';font-size:18px;color:#fff;padding-top:15px;padding-bottom:15px;}
:lang(ar) .footer-copyright-text{font-family:'Cairo';}
.custom-newsletter-label{font-family:'Cairo';font-size:24px;color:#f58220;float:left;padding-top:10px;display: none;}
:lang(ar) .custom-newsletter-label{font-family:'Cairo';display:none;}
.custom-newsletter-textbox{font-family:'Cairo';font-size:17px;float:left;border:1px solid #f58220;width:250px;height:41px;}
:lang(ar) .custom-newsletter-textbox{font-family:'Cairo';margin-left: 0px !important;}
.custom-newsletter-button{background:#f58220;color:#fff;font-family:'Cairo';font-size:20px;border:none;width:90px;height:45px;}
:lang(ar) .custom-newsletter-button{font-family:'Cairo';}
.es_button{padding:0px;}
.es_textbox{padding-bottom:0px;}
.news-letter-content{clear:both;padding-left:130px;padding-bottom:50px;}
.custom-line{clear:both;padding-bottom:30px;max-width:87px;padding-left:45%;}
.custom-color{color:#f58220;}
.tm-main-top .uk-panel-box{padding:0px;}
.right-side-twitter-content{padding-left:50px;padding-right:10px;}
.twitter-content-img{float:left;padding-top:60px;max-width:478px;}
.twitter-content-line{padding-left:30px;padding-top:40px;float:left;padding-right:30px;}
.twitter-content-line.adeeb-line-home {padding-top: 70px;}
.twitter-content-para{padding-top:60px;font-family:'Cairo';color:#fff;font-size:16px;text-align:justify;line-height:22px;}
:lang(ar) .twitter-content-para{font-family:'Cairo';font-size:16px;padding-top:52px;}
.right-side-twitter-content-block-2{padding-left:50px;padding-bottom:60px;margin-top:25px;padding-right:10px;}
.right-side-twitter-content-block-2 .twitter-content-img{clear:both;margin-left:175px;margin-top:8px;max-width:303px;}
.right-side-twitter-content-block-2 .twitter-content-line{margin-top:5px;}
.right-side-twitter-content-block-2 .twitter-content-para{margin-top:20px;}
.uk-slidenav-position .uk-slidenav-previous{left:-100px;}
.uk-slidenav-position .uk-slidenav-next{right:-100px;}
.uk-slidenav-previous:before{content:url(../../../../../uploads/adeeb/prev.png);}
.uk-slidenav-next:before{content:url(../../../../../uploads/adeeb/next.png);}
.uk-offcanvas-bar{background:#f6923d;}
html .uk-nav.uk-nav-offcanvas > li.uk-active > a{background:#fff;color:#f58220;}
.uk-nav-offcanvas > li > a{color:#fff;font-family:'Cairo';font-size:18px;}
:lang(ar) .uk-nav-offcanvas > li > a{font-family:'Cairo';}
.uk-nav-offcanvas > .uk-open > a, html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover, html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus{background:#fff;color:#f58220;}
.twitter-content .custom-twitter-class div:nth-child(2) .uk-animation-slide-left{background:url(../../../../../uploads/adeeb/bg.png);background-repeat:round;}
.banner-content .home-page-banner div:nth-child(1) .uk-animation-slide-left{background:url(../../../../../uploads/adeeb/banner-bg-mobile.png);background-repeat:round;}
.banner-content .home-page-banner div:nth-child(2) .uk-animation-slide-right{background:url(../../../../../uploads/adeeb/banner-bg-mobile.png);background-repeat:round;}
.twitter-content .custom-twitter-class div:nth-child(1) .uk-animation-slide-right{background:url(../../../../../uploads/adeeb/bg.png);background-repeat:round;}
:lang(ar) .right-side-twitter-content,:lang(ar) .right-side-twitter-content-block-2{padding-right:50px;padding-left:10px;}
:lang(ar) .uk-navbar-nav>li{float:right;}
:lang(ar) .footer-ul li a{float:right;}
:lang(ar) .footer-ul{padding-right:185px;}
.left-side-twitter-content{text-align:center;padding-top:20px;padding-bottom:20px;padding-left:50px;padding-right:50px;}
:lang(ar) .left-side-twitter-content{padding-top:30px;padding-bottom:30px;}
.home-page-banner img{width:100%;}
.twitter-content-mobile-line{display:none;}
.twitter-content{background:#929496;}
.inner-page-menu-line{border:1px solid #f58220;}
.custom-page-title{font-family:'Cairo';font-size:55px;padding-top:80px;color:#3c3c3b;}
:lang(ar) .custom-page-title{font-family:'Cairo';font-weight:bold;padding-bottom:20px;}
.custom-page-line{padding-top:0px !important;padding-bottom:80px;}
.custom-page-content{font-family:'Cairo';font-size:20px;line-height:30px; text-align: justify;}
.custom-page-content >.contact-us > #wpcf7-f867-p849-o1 {text-align: right !important;}
:lang(ar) .custom-page-content{font-family:'Cairo';}
.bottom-content-line{padding-left:45%;padding-top:30px;}
.qtranxs_widget_end{float:left;}
#qtranxs_select_qtranslate-2-chooser{background:#55585d;border:none;font-family:'Cairo';font-size:17px;color:#959d9f;outline:none;margin-top:4px;padding-left:22px;padding-right:5px;float:left;}
:lang(ar) #qtranxs_select_qtranslate-2-chooser{font-family:'Cairo';margin-top: 6px;}
.search-line{padding-left:15px;padding-right:15px;float:left;padding-top:15px;}
#qtranslate-2-chooser{border:none;outline:none;}
:lang(ar) .twitter-content-para{direction:rtl;}
:lang(ar) .custom-page-content{direction:rtl;}
.contact-from-field .wpcf7-textarea, .contact-from-field .wpcf7-select, .contact-from-field .wpcf7-text, .contact-from-field .wpcf7-file{font-family:'Cairo';font-size:18px;line-height:28px;}
:lang(ar) .contact-from-field .wpcf7-textarea,:lang(ar) .contact-from-field .wpcf7-select,:lang(ar) .contact-from-field .wpcf7-text,:lang(ar) .contact-from-field .wpcf7-file{font-family:'Cairo';}
.contact-form-english, .contact-form-arebic {font-family:'Cairo';font-size:22px;line-height:30px;margin:auto;}
:lang(ar) .contact-form-english, .contact-form-arebic{font-family:'Cairo';}
.contact-form-english input.wpcf7-form-control, textarea.wpcf7-form-control, select.wpcf7-form-control{border:1px solid #f58220;}
.contact-form-arebic input.wpcf7-form-control, textarea.wpcf7-form-control, select.wpcf7-form-control{border:1px solid #f58220;}
.contact-attachment{border:none !important; width:90%;}
.contact-from-field .wpcf7-text{width:90%;padding:10px;color:#f58220;}
.contact-from-field .wpcf7-select{width:94%;padding:10px;padding-top:12px;padding-bottom:12px;color:#f58220;}
.contact-from-field .wpcf7-textarea{width:95%;padding:10px;line-height:25px;margin-bottom:15px;}
.contact-from-field{direction:ltr;}
:lang(ar).contact-from-field{color:#f58220;direction:rtl;}
.contact-from-field .wpcf7-submit{background:#f58220;padding-top:5px;padding-bottom:5px;font-family:'Cairo';font-size:20px;color:#fff;padding-left:15px;padding-right:15px;border-radius:25px;cursor:pointer;margin-top:25px;}
:lang(ar) .contact-from-field .wpcf7-submit{font-family:'Cairo';}
:lang(ar) .contact-form-english input.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-english textarea.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-english select.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-arebic input.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-arebic textarea.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-arebic select.wpcf7-form-control{direction:rtl;}
:lang(ar) .qualification-table input.wpcf7-form-control{direction:rtl;}
:lang(ar) .ml-responsive-table input.wpcf7-form-control{direction:rtl;}
:lang(ar) .ml-responsive-table textarea.wpcf7-form-control{direction:rtl;}
:lang(ar) .ml-responsive-table select.wpcf7-form-control{direction:rtl;}
:lang(ar) .ml-responsive-table dd.ml-value{direction:rtl;}
:lang(ar) .ml-responsive-table dt.ml-title{direction:rtl;}
/*:lang(ar) .ml-title textarea.wpcf7-form-control{direction:rtl;}
:lang(ar) .ml-title select.wpcf7-form-control{direction:rtl;}
*/

.contact-page-intro {margin-bottom: 25px;}
.contact-page-intro-arabic {margin-bottom: 25px;}

.qualification-table .wpcf7-date{width:90%;padding:10px;font-family:'Cairo';font-size:18px;color:#f58220;}
.qualification-table .wpcf7-select{color:#f58220;}
.ml-responsive-table .wpcf7-date{width:90%;padding:10px;font-family:'Cairo';font-size:18px;color:#f58220;}
.intro-page-arabic {color: grey; direction: rtl;margin: 0px; font-size: 19px;}
.intro-page-english{color: grey; font-size: 16px;}

:lang(ar) .right-text-over-banner{direction:rtl;float:right;padding-right:50px;text-align:right;}
:lang(ar) .left-text-over-banner{direction:rtl;}
:lang(ar) .custom-double-quote-end{margin-top:0px;}
.careers-heading{font-size:35px;line-height:45px;padding-bottom:30px;}
.application-form .wpcf7-date{width:90%;padding:10px;font-family:'Cairo';font-size:18px;color:#f58220;}
:lang(ar) .application-form .wpcf7-date{font-family:'Cairo';}
.job-application .application-form input.wpcf7-form-control, .wpcf7-date, textarea.wpcf7-form-control{margin-bottom:15px;}
.job-application .application-form select.wpcf7-form-control{margin-bottom:15px;}
.qualification-table{width:97.1%;}
.qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control, .wpcf7-date, .wpcf7-file, number.wpcf7-form-control{font-family:'Cairo';font-size:18px;line-height:28px;padding:5px;border:1px solid #f58220;margin-bottom:0px;}
:lang(ar) .qualification-table input.wpcf7-form-control,:lang(ar) select.wpcf7-form-control,:lang(ar) textarea.wpcf7-form-control,:lang(ar) .wpcf7-date,:lang(ar) .wpcf7-file,:lang(ar) number.wpcf7-form-control{font-family:'Cairo';}
.qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control{width:95%;}
.qualification-table .wpcf7-date{width:94% !important;}
#workshop-degree{width:95.5%;}
.qualification-table th{padding:5px;background:#f58220;font-family:'Cairo';font-size:18px;}
:lang(ar) .qualification-table th{font-family:'Cairo';}
.qualification-table .table-heading{color:#fff;}
.job-application-heading{clear:both;padding-top:25px;padding-bottom:25px;color:#f58220;}
.ml-title{color:#f58220;font-family: 'Cairo';font-size: 18px;line-height: 28px;}
.experience-table .wpcf7-text{width:90% !important;}
.qualification-table .experience-table .wpcf7-number{width:84%;}
#emp-leaving-reason{width:93.5% !important;}
#emp-wage{width:88% !important;}
.attachment-table .emp-attach-name{width:98% !important;}
.attachment-table .emp-attachment-file{border:none !important;}
:lang(ar) .job-application-heading{direction:rtl;}
.qualification-table .table-heading{text-align:center;}
.workshop-table .wpcf7-number{width:91% !important;}
.career-submit{background:#f58220;padding-top:5px;padding-bottom:5px;font-family:'Cairo';font-size:20px;color:#fff;padding-left:15px;padding-right:15px;border-radius:25px;cursor:pointer;margin-top:25px;border:none;}
:lang(ar) .career-submit{font-family:'Cairo';}
div.wpcf7-validation-errors{border:2px solid #f58220;border-radius:25px;}
div.wpcf7-mail-sent-ok{border:none;background:#f58220;border-radius:25px;color:#fff;text-align:center;}
:lang(ar) .application-form{text-align:right;}
:lang(ar) .qualification-table{float:right;}
.uk-offcanvas .uk-panel-title{color:#fff;font-family:'Cairo';}
:lang(ar) .uk-offcanvas .uk-panel-title{color:#fff;font-family:'Cairo';}
.uk-offcanvas a, .uk-link{color:#fff;}
.uk-offcanvas .uk-icon-button{width:30px;height:30px;line-height:30px;background:#fff;color:#f58220;font-size:15px;margin-left:5px;}
.uk-offcanvas .uk-icon-button:hover, .uk-icon-button:focus{background-color:#f58220;color:#fff;outline:none;}
.contact-form-english input.wpcf7-form-control::-webkit-input-placeholder{color:#f58220;}
.contact-form-english input.wpcf7-form-control:-moz-placeholder{color:#f58220;}
.contact-form-english input.wpcf7-form-control::-moz-placeholder{color:#f58220;}
.contact-form-english input.wpcf7-form-control:-ms-input-placeholder{color:#f58220;}
.contact-form-english textarea.wpcf7-form-control::-webkit-input-placeholder{color:#f58220;}
.contact-form-english textarea.wpcf7-form-control:-moz-placeholder{color:#f58220;}
.contact-form-english textarea.wpcf7-form-control::-moz-placeholder{color:#f58220;}
.contact-form-english textarea.wpcf7-form-control:-ms-input-placeholder{color:#f58220;}

.contact-form-arebic input.wpcf7-form-control::-webkit-input-placeholder{color:#f58220;}
.contact-form-arebic input.wpcf7-form-control:-moz-placeholder{color:#f58220;}
.contact-form-arebic input.wpcf7-form-control::-moz-placeholder{color:#f58220;}
.contact-form-arebic input.wpcf7-form-control:-ms-input-placeholder{color:#f58220;}
.contact-form-arebic textarea.wpcf7-form-control::-webkit-input-placeholder{color:#f58220;}
.contact-form-arebic textarea.wpcf7-form-control:-moz-placeholder{color:#f58220;}
.contact-form-arebic textarea.wpcf7-form-control::-moz-placeholder{color:#f58220;}
.contact-form-arebic textarea.wpcf7-form-control:-ms-input-placeholder{color:#f58220;}

.footer-ul li a {
    float: left;
    color: #fff;
    font-family: 'Cairo';
    font-size: 16px;
    padding-left: 5px;
}

@media only screen and (max-width:1600px){.site-logo{text-align:center; float:none;}.uk-navbar-nav{text-align:center; float:none;}}
@media only screen and (max-width:1092px){.uk-navbar-nav{display:none;}.uk-hidden-large {display: block !important;}}
@media (min-width: 1093px){.uk-visible-medium {display: none !important;}}
@media only screen and (max-width:1024px){.uk-navbar-nav{display:none;}
  /*.uk-navbar-toggle{padding:55px 15px;}*/
  .home-page-banner img{width:100%;}
  .custom-line{padding-left:45%;}
  .custom-twitter-class img{width:100%;}
  .right-side-twitter-content-block-2 .twitter-content-para{padding-top:65px;}
  .right-side-twitter-content, .right-side-twitter-content-block-2{padding-right:50px;}
  :lang(ar) .right-side-twitter-content,:lang(ar) .right-side-twitter-content-block-2{padding-left:50px;}
  .contact-from-field .wpcf7-select{width:95%;}
  .qualification-table{width:97.4%;}
  .qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control{width:92.3%;}
  .emp-degree, .emp-source, .workshop-degree{width:94% !important;}
  .workshop-table .wpcf7-number{width:88% !important;}
  .experience-table .wpcf7-text{width:86% !important;}
}
@media only screen and (max-width:959px){.uk-slidenav-position .uk-slidenav-previous{left:-25px;}
  .uk-slidenav-position .uk-slidenav-next{right:-25px;}
  .twitter-content-mobile-line{display:inline-block;padding-left:45%;padding-top:30px;padding-bottom:30px;}
  .twitter-content-line{display:none;}
  .twitter-content-img{float:right;}
  .contact-from-field .wpcf7-select{width:96%;}
  .qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control{width:89.3%;}
  .emp-degree, .emp-source, .emp-spec,  .workshop-degree, .workshop-hours, #emp-leaving-reason, #emp-wage, #emp-country , #emp-job, .experience-table .wpcf7-text, #emp-attach-name, #emp-place, #workshop-place, #workshop-sub, #workshop-end-date, #emp-date, #emp-join-date, #emp-end-date, #emp-attachment-file{width:90% !important;padding:10px;border: 1px solid #f58220; }
  #emp-qual {width:93.5% !important;padding:10px;border: 1px solid #f58220; }
  .workshop-table .wpcf7-number{width:82% !important;}
  /*.workshop-degree{width:92% !important;}*/
  .experience-table .wpcf7-text{width:78% !important;}
  /*#emp-job{width:65% !important;}
  #emp-country{width:82% !important;}
  #emp-wage{width:76% !important;}
  #emp-leaving-reason{width:80% !important;}
  #emp-attach-name{width:96% !important;}*/
  .footer-menu{width:100% !important}
}
@media all  and (min-width: 768px) and (max-width: 830px){
	.footer-ul{padding-left:16px !important;}
	:lang(ar) .footer-ul{padding-right:0px;padding-left:0px;direction:rtl;}
}
@media only screen and (max-width:767px){.twitter-content-para{padding-top:0px;}
  .right-side-twitter-content-block-2 .twitter-content-para{padding-top:0px;margin-top:0px;}
  .footer-ul{display:none;}
  .footer-logo{display:none;}
  .footer-line{display:none;}
  .footer-copyright-text{font-size:12px;}
  .uk-hidden-medium{display:none !important;}
  .uk-visible-medium{display:block !important;}
  .right-text-over-banner{padding-top:20px;padding-bottom:60px;}
  .news-letter-content{padding-left:100px;}
  .twitter-content-img{float:none;}
  .our-clients-heading{padding-top:60px;}
  .right-side-twitter-content-block-2 .twitter-content-img, .twitter-content-img{margin-left:auto;}
  .left-text-over-banner{padding-left:80px;padding-right:80px;padding-top:40px;}
  :lang(ar) .left-text-over-banner{padding-top:50px;}
  .custom-double-quote-end{padding-left:80px;margin-top:-15px;}
  .custom-double-quote-start{padding-left:35px;padding-top:40px;}
  :lang(ar) .custom-double-quote-start{padding-top:55px}
  /*.site-logo{width:70%;padding-right:25px;}*/
  .tm-navbar{margin:0px;}
  .contact-from-field .wpcf7-textarea{width:90%;}
  .contact-from-field .wpcf7-select{width:93%;}
}
@media only screen and (max-width:667px){.right-text-over-banner{font-size:50px;line-height:55px;}
  .news-letter-content{padding-left:65px;}
  .contact-from-field .wpcf7-select{width:93.5%;}
  /*.emp-degree, .emp-source, .workshop-degree{width:auto !important;}*/
  .qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control{width:auto;}
  .workshop-table .wpcf7-number{width:auto !important;}
  /*#emp-leaving-reason, #emp-wage, #emp-country , #emp-job, .experience-table .wpcf7-text, #emp-attach-name{width:auto !important;}*/
}
@media only screen and (max-width:435px){.uk-navbar-toggle{padding-left:30px;padding-top:40px;padding-bottom:0px;}
  .right-text-over-banner{font-size:40px;line-height:48px;padding-bottom:30px;padding-left:30px;}
  .custom-double-quote-start{font-size:70px;padding-left:20px;padding-top:20px;}
  .left-text-over-banner{padding-left:50px;padding-right:50px;padding-top:20px;}
  .custom-double-quote-end{padding-left:50px;margin-top:0px;font-size:70px;}
  .news-letter-content{padding-left:50px;}
  .custom-newsletter-label{float:none;padding-top:0px;font-size:22px;}
  .custom-newsletter-textbox{margin-left:auto;float:none;margin-top:15px;font-size:15px;}
  .custom-newsletter-button{margin-top:15px;font-size:18px;}
  .our-clients-heading{padding-top:25px;font-size:35px;line-height:45px;}
  .right-side-twitter-content-block-2 .twitter-content-img{margin-top:0px;padding-top:15px;}
  .right-side-twitter-content-block-2{padding-bottom:30px;}
  .uk-navbar-toggle{padding:10px;}
  .custom-line, .bottom-content-line, .twitter-content-mobile-line{padding-left:35%;}
  .custom-page-title{font-size:45px;padding-top:50px;line-height:50px;}
  .custom-page-line{padding-bottom:50px;}
  .custom-page-content{font-size:18px;line-height:25px;}
  .contact-from-field .wpcf7-select{width:96%;}
}
@media only screen and (max-width:375px){.right-text-over-banner{font-size:32px;line-height:40px;padding-left:20px;padding-top:20px;}
  .custom-double-quote-start{font-size:55px;}
  .left-text-over-banner{padding-left:45px;padding-right:45px;font-size:15px;line-height:20px;}
  .custom-double-quote-end{font-size:55px;padding-left:45px;}
  .our-clients-heading{padding-top:10px;font-size:30px;line-height:35px;}
  .custom-newsletter-label{font-size:20px;}
  .custom-newsletter-textbox{height:35px;width:200px;}
  .custom-newsletter-button{width:80px;height:39px;}
  .twitter-content-para{font-size:15px;}
  .left-side-twitter-content{padding-left:45px;padding-right:45px;}
  .right-side-twitter-content, .right-side-twitter-content-block-2{padding-left:45px;padding-right:45px;}
  .custom-page-title{font-size:40px;padding-top:35px;line-height:45px;}
  .custom-page-line{padding-bottom:35px;}
  .custom-page-content{font-size:16px;line-height:22px;}
  .contact-from-field .wpcf7-select{width:97%;}
}
@media only screen and (max-width:320px){.contact-from-field .wpcf7-select{width:98%;}
}
input{-webkit-appearance:none;-webkit-border-radius:0;}
.red{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #f00;
}
.project-content {
   // /* margin-bottom: 45%; */
}
.clearfix{
    clear: both;
}
ul, ol{
    padding-left: 10px;
}
.uk-article-meta{
    display:none;
}
.uk-overlay-background{
    background:none;
}
.map-image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h3 { 
   position: absolute; 
   top: 90px; 
   left: 308px; 
   /*width: 100%;*/ 
}
.map-address-block > h3{
    text-align: center;
    background-color: #000 !important;
    opacity: 0.7;
    color: #FFF !important;
    padding:37px;
    line-height: 30px;
}

.island {
    background-color: #000;
    opacity: 0.7;
  max-width: 32em;
  margin: auto;
  position: relative;
  padding: 5% 0;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.splash {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://ramworld.net/adeeb/adeebco/wp-content/uploads/2016/05/map-location.png");
  text-align: center;
  color: #fff;
}
.splash--title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2em;
  border: 2px solid #fff;
  border-left: 0;
  border-right: 0;
  font-family: 'Source Sans Source';
  font-weight: 300;
  color:#fff;
}
:lang(ar).splash--title {
	font-size:1.4em;
	}
:lang(ar).splash--subtitle {
	font-size:1.6em;
	}
.splash--subtitle {
  font-family: 'Cairo';
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.875rem;
  color:#ebebeb;
}
.splash:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  /*background: rgba(0,0,0,0.35);*/
}
.island > a > h2{
    color: #f58220;
}
/*a {
  display: inline-block;
  padding: 20px 0 3px 0;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: 'Cairo', sans-serif;
}
a:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  -webkit-transition: width 0.5s ease, background-color 0.5s ease;
  transition: width 0.5s ease, background-color 0.5s ease;
}
a:hover:after {
  width: 100%;
  background: #fff;
} */