@font-face{font-family:'lato';src:url("../fonts/Lato-Regular.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Black';src:url("../fonts/Lato-Black.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Bold';src:url("../fonts/Lato-Bold.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Semibold';src:url("../fonts/Lato-Semibold.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Hairline';src:url("../fonts/Lato-Hairline.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Light';src:url("../fonts/Lato-Light.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Thin';src:url("../fonts/Lato-Thin.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-Italic';src:url("../fonts/Lato-Italic.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-LightItalic';src:url("../fonts/Lato-LightItalic.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Lato-HairlineItalic';src:url("../fonts/Lato-HairlineItalic.ttf");font-weight:normal;font-style:normal}
@font-face{font-family:'Lato-BlackItalic';src:url("../fonts/Lato-BlackItalic.ttf");font-weight:normal;font-style:normal;}
@font-face{font-family:'Constantia';src:url("../fonts/Constantia.ttf");font-weight:normal;font-style:normal;}
/*@font-face{font-family:'Tahoma';src:url("../fonts/tahoma/Tahoma.ttf");font-weight:normal;font-style:normal;}*/
@font-face{font-family:'HelveticaNeue';src:url("../fonts/HelveticaNeue/HelveticaNeue.ttf");font-weight:normal;font-style:normal;}

.uk-margin-top{margin-top:10px !important;}
.tm-headerbar, .tm-navbar, .tm-footer{margin-top:0px;margin-bottom:0px;padding-right:20px;}
.tm-headerbar{background:#55585d;margin-top:0px;padding-bottom:10px;}
.uk-icon-button{background:#55595d;color:#959d9f;font-size:22px;}
.uk-icon-button:hover, .uk-icon-button:focus{background-color:#f58220;color:#fff;outline:none;}
.uk-navbar{background:#fff;padding-left:15px;}
.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a:focus, .uk-navbar-nav > li.uk-open > a{background-color:transparent;color:#f58220;outline:none;}
.uk-navbar-nav > li.uk-active > a{background-color:transparent;color:#f58220;}
.uk-navbar-nav > li > a{font-family:'Lato-Light';font-size:18px;color:#55595d;padding-top:50px;}
:lang(ar) .uk-navbar-nav > li > a{font-family:'HelveticaNeue';}
.uk-navbar-flip{float:left;}
.uk-search:before{content:url(../../../../../uploads/adeeb/search.png);padding-top:15px;}
.uk-search{padding-left:10px;padding-top:10px;}
.uk-navbar-content, .uk-navbar-brand, .uk-navbar-toggle{height:auto;padding:0px;}
.uk-search-field:-ms-input-placeholder{color:#959d9f !important;}
.uk-search-field::-moz-placeholder{color:#959d9f;}
.uk-search-field::-webkit-input-placeholder{color:#959d9f;}
.uk-search-field{color:#959d9f;}
.tm-top-a .uk-panel-box{padding:0px;background:#d0d5d6;}
.site-logo{float:right;padding-top:25px;padding-bottom:25px;}
.home-page-bannner{float:left;}
.right-text-over-banner{color:#fff;font-family:'Lato-Light';font-size:58px;line-height:70px;padding-left:50px;padding-top:70px;padding-bottom:100px;}
:lang(ar) .right-text-over-banner{font-family:'HelveticaNeue';}
.left-text-over-banner{font-family:'Lato-Light';font-size:16px;color:#000000;line-height:23px;padding-left:135px;padding-right:130px;padding-top:65px;text-align:justify;}
:lang(ar) .left-text-over-banner{font-family:'HelveticaNeue';line-height:27px;}
.custom-slide-show{float:left;}
.uk-panel-box{background:transparent;}
.uk-cover-background{background-size:inherit;}
.home-page-banner .uk-panel-teaser{margin-bottom:0px;}
.home-page-banner .uk-margin{margin-top:0px;}
.our-clients-heading{font-family:'Lato-Light';color:#f58220;font-size:45px;text-align:center;padding-top:100px;}
:lang(ar) .our-clients-heading{font-family:'HelveticaNeue';}
.uk-slidenav-contrast{color:#cecece;}
.home-page-map .uk-panel-box{padding:0px;}
.custom-double-quote-start{font-family:'Constantia';font-size:90px;color:#ebeded;float:left;padding-top:80px;padding-left:95px;}
.custom-double-quote-end{font-family:'Constantia';font-size:90px;color:#ebeded;float:right;padding-left:130px;margin-top:-30px;padding-top:0px;-moz-transform:rotate(-180.0deg);-o-transform:rotate(-180.0deg);-webkit-transform:rotate(-180.0deg);}
.custom-footer{background-image:url(../../../../../uploads/adeeb/bg-footer.png);background-repeat:repeat-x;height:auto;}
.footer-logo{padding-top:40px;padding-bottom:30px;}
.footer-ul{padding-left:18%;list-style:none;padding-bottom:50px;}
.footer-ul li a{float:left;color:#fff;font-family:'Lato-Light';font-size:16px;padding-left:5px;}
:lang(ar) .footer-ul li a{font-family:'HelveticaNeue';}
.footer-copyright-text{font-family:'Lato-Light';font-size:18px;color:#fff;padding-top:15px;padding-bottom:15px;}
:lang(ar) .footer-copyright-text{font-family:'HelveticaNeue';}
.custom-newsletter-label{font-family:'Lato-Light';font-size:24px;color:#f58220;float:left;padding-top:10px;}
:lang(ar) .custom-newsletter-label{font-family:'HelveticaNeue';}
.custom-newsletter-textbox{font-family:'Lato-Light';font-size:17px;float:left;padding-left:20px;border:1px solid #f58220;width:250px;height:41px;margin-left:20px;}
:lang(ar) .custom-newsletter-textbox{font-family:'HelveticaNeue';}
.custom-newsletter-button{background:#f58220;color:#fff;font-family:'Lato-Light';font-size:20px;border:none;width:90px;height:45px;}
:lang(ar) .custom-newsletter-button{font-family:'HelveticaNeue';}
.es_button{padding:0px;}
.es_textbox{padding-bottom:0px;}
.news-letter-content{clear:both;padding-left:185px;padding-bottom:50px;}
.custom-line{clear:both;padding-bottom:30px;max-width:87px;padding-left:45%;}
.custom-color{color:#f58220;}
.tm-main-top .uk-panel-box{padding:0px;}
.right-side-twitter-content{padding-left:50px;padding-right:10px;}
.twitter-content-img{float:left;padding-top:60px;max-width:478px;}
.twitter-content-line{padding-left:30px;padding-top:40px;float:left;padding-right:30px;}
.twitter-content-para{padding-top:60px;font-family:'Lato-Light';color:#fff;font-size:17px;text-align:justify;line-height:22px;}
:lang(ar) .twitter-content-para{font-family:'HelveticaNeue';font-size:16px;padding-top:52px;}
.right-side-twitter-content-block-2{padding-left:50px;padding-bottom:60px;margin-top:25px;padding-right:10px;}
.right-side-twitter-content-block-2 .twitter-content-img{clear:both;margin-left:175px;margin-top:8px;max-width:303px;}
.right-side-twitter-content-block-2 .twitter-content-line{margin-top:5px;}
.right-side-twitter-content-block-2 .twitter-content-para{margin-top:20px;}
.uk-slidenav-position .uk-slidenav-previous{left:-100px;}
.uk-slidenav-position .uk-slidenav-next{right:-100px;}
.uk-slidenav-previous:before{content:url(../../../../../uploads/adeeb/prev.png);}
.uk-slidenav-next:before{content:url(../../../../../uploads/adeeb/next.png);}
.uk-offcanvas-bar{background:#f6923d;}
html .uk-nav.uk-nav-offcanvas > li.uk-active > a{background:#fff;color:#f58220;}
.uk-nav-offcanvas > li > a{color:#fff;font-family:'Lato-Light';font-size:18px;}
:lang(ar) .uk-nav-offcanvas > li > a{font-family:'HelveticaNeue';}
.uk-nav-offcanvas > .uk-open > a, html:not(.uk-touch) .uk-nav-offcanvas > li > a:hover, html:not(.uk-touch) .uk-nav-offcanvas > li > a:focus{background:#fff;color:#f58220;}
.twitter-content .custom-twitter-class div:nth-child(2) .uk-animation-slide-left{background:url(../../../../../uploads/adeeb/bg.png);background-repeat:round;}
.banner-content .home-page-banner div:nth-child(1) .uk-animation-slide-left{background:url(../../../../../uploads/adeeb/banner-bg-mobile.png);background-repeat:round;}
.banner-content .home-page-banner div:nth-child(2) .uk-animation-slide-right{background:url(../../../../../uploads/adeeb/banner-bg-mobile.png);background-repeat:round;}
.twitter-content .custom-twitter-class div:nth-child(1) .uk-animation-slide-right{background:url(../../../../../uploads/adeeb/bg.png);background-repeat:round;}
:lang(ar) .right-side-twitter-content,:lang(ar) .right-side-twitter-content-block-2{padding-right:50px;padding-left:10px;}
:lang(ar) .uk-navbar-nav>li{float:right;}
:lang(ar) .footer-ul li a{float:right;}
:lang(ar) .footer-ul{padding-right:26%;}
.left-side-twitter-content{text-align:center;padding-top:20px;padding-bottom:20px;padding-left:50px;padding-right:50px;}
:lang(ar) .left-side-twitter-content{padding-top:30px;padding-bottom:30px;}
.home-page-banner img{width:100%;}
.twitter-content-mobile-line{display:none;}
.twitter-content{background:#929496;}
.inner-page-menu-line{border:1px solid #f58220;}
.custom-page-title{font-family:'Lato-Semibold';font-size:55px;padding-top:80px;color:#3c3c3b;}
:lang(ar) .custom-page-title{font-family:'HelveticaNeue';font-weight:bold;padding-bottom:20px;}
.custom-page-line{padding-top:0px !important;padding-bottom:80px;}
.custom-page-content{font-family:'Lato';font-size:20px;line-height:30px;}
:lang(ar) .custom-page-content{font-family:'HelveticaNeue';}
.bottom-content-line{padding-left:45%;padding-top:40px;}
.qtranxs_widget_end{float:left;}
#qtranxs_select_qtranslate-2-chooser{background:#55585d;border:none;font-family:'Lato';font-size:17px;color:#959d9f;outline:none;margin-top:18px;padding-left:22px;padding-right:5px;float:left;}
:lang(ar) #qtranxs_select_qtranslate-2-chooser{font-family:'HelveticaNeue';}
.search-line{padding-left:15px;padding-right:15px;float:left;padding-top:15px;}
#qtranslate-2-chooser{border:none;outline:none;}
:lang(ar) .twitter-content-para{direction:rtl;}
:lang(ar) .custom-page-content{direction:rtl;}
.contact-from-field .wpcf7-textarea, .contact-from-field .wpcf7-select, .contact-from-field .wpcf7-text, .contact-from-field .wpcf7-file{font-family:'Lato-Light';font-size:18px;line-height:28px;}
:lang(ar) .contact-from-field .wpcf7-textarea,:lang(ar) .contact-from-field .wpcf7-select,:lang(ar) .contact-from-field .wpcf7-text,:lang(ar) .contact-from-field .wpcf7-file{font-family:'HelveticaNeue';}
.contact-form-english{font-family:'Lato';font-size:22px;line-height:30px;margin:auto;}
:lang(ar) .contact-form-english{font-family:'HelveticaNeue';}
.contact-form-english input.wpcf7-form-control, textarea.wpcf7-form-control, select.wpcf7-form-control{border:1px solid #f58220;}
.contact-attachment{border:none !important;}
.contact-from-field .wpcf7-text{width:90%;padding:10px;}
.contact-from-field .wpcf7-select{width:94%;padding:10px;padding-top:12px;padding-bottom:12px;color:#f58220;}
.contact-from-field .wpcf7-textarea{width:95%;padding:10px;line-height:25px;margin-bottom:15px;}
.contact-from-field{color:#f58220;}
.contact-from-field .wpcf7-submit{background:#f58220;padding-top:5px;padding-bottom:5px;font-family:'Lato';font-size:20px;color:#fff;padding-left:15px;padding-right:15px;border-radius:25px;cursor:pointer;margin-top:25px;}
:lang(ar) .contact-from-field .wpcf7-submit{font-family:'HelveticaNeue';}
:lang(ar) .contact-form-english input.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-english textarea.wpcf7-form-control{direction:rtl;}
:lang(ar) .contact-form-english select.wpcf7-form-control{direction:rtl;}
:lang(ar) .right-text-over-banner{direction:rtl;float:right;padding-right:50px;text-align:right;}
:lang(ar) .left-text-over-banner{direction:rtl;}
:lang(ar) .custom-double-quote-end{margin-top:0px;}
.careers-heading{font-size:35px;line-height:45px;padding-bottom:30px;}
.application-form .wpcf7-date{width:90%;padding:10px;font-family:'Lato-Light';font-size:18px;color:#f58220;}
:lang(ar) .application-form .wpcf7-date{font-family:'HelveticaNeue';}
.job-application .application-form input.wpcf7-form-control, .wpcf7-date, textarea.wpcf7-form-control{margin-bottom:15px;}
.job-application .application-form select.wpcf7-form-control{margin-bottom:15px;}
.qualification-table{width:97.1%;}
.qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control, .wpcf7-date, .wpcf7-file, number.wpcf7-form-control{font-family:'Lato-Light';font-size:18px;line-height:28px;padding:5px;border:1px solid #f58220;margin-bottom:0px;}
:lang(ar) .qualification-table input.wpcf7-form-control,:lang(ar) select.wpcf7-form-control,:lang(ar) textarea.wpcf7-form-control,:lang(ar) .wpcf7-date,:lang(ar) .wpcf7-file,:lang(ar) number.wpcf7-form-control{font-family:'HelveticaNeue';}
.qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control{width:95%;}
.qualification-table .wpcf7-date{width:94% !important;}
#workshop-degree{width:95.5%;}
.qualification-table th{padding:5px;background:#f58220;font-family:'Lato-Light';font-size:18px;}
:lang(ar) .qualification-table th{font-family:'HelveticaNeue';}
.qualification-table .table-heading{color:#fff;}
.job-application-heading{clear:both;padding-top:25px;padding-bottom:25px;color:#f58220;}
.experience-table .wpcf7-text{width:90% !important;}
.qualification-table .experience-table .wpcf7-number{width:84%;}
#emp-leaving-reason{width:93.5% !important;}
#emp-wage{width:88% !important;}
.attachment-table .emp-attach-name{width:98% !important;}
.attachment-table .emp-attachment-file{border:none !important;}
:lang(ar) .job-application-heading{direction:rtl;}
.qualification-table .table-heading{text-align:center;}
.workshop-table .wpcf7-number{width:91% !important;}
.career-submit{background:#f58220;padding-top:5px;padding-bottom:5px;font-family:'Lato';font-size:20px;color:#fff;padding-left:15px;padding-right:15px;border-radius:25px;cursor:pointer;margin-top:25px;border:none;}
:lang(ar) .career-submit{font-family:'HelveticaNeue';}
div.wpcf7-validation-errors{border:2px solid #f58220;border-radius:25px;}
div.wpcf7-mail-sent-ok{border:none;background:#f58220;border-radius:25px;color:#fff;text-align:center;}
:lang(ar) .application-form{text-align:right;}
:lang(ar) .qualification-table{float:right;}
.uk-offcanvas .uk-panel-title{color:#fff;font-family:'Lato-Light';}
:lang(ar) .uk-offcanvas .uk-panel-title{color:#fff;font-family:'HelveticaNeue';}
.uk-offcanvas a, .uk-link{color:#fff;}
.uk-offcanvas .uk-icon-button{width:30px;height:30px;line-height:30px;background:#fff;color:#f58220;font-size:15px;}
.uk-offcanvas .uk-icon-button:hover, .uk-icon-button:focus{background-color:#f58220;color:#fff;outline:none;}
.contact-form-english input.wpcf7-form-control::-webkit-input-placeholder{color:#f58220;}
.contact-form-english input.wpcf7-form-control:-moz-placeholder{color:#f58220;}
.contact-form-english input.wpcf7-form-control::-moz-placeholder{color:#f58220;}
.contact-form-english input.wpcf7-form-control:-ms-input-placeholder{color:#f58220;}
.contact-form-english textarea.wpcf7-form-control::-webkit-input-placeholder{color:#f58220;}
.contact-form-english textarea.wpcf7-form-control:-moz-placeholder{color:#f58220;}
.contact-form-english textarea.wpcf7-form-control::-moz-placeholder{color:#f58220;}
.contact-form-english textarea.wpcf7-form-control:-ms-input-placeholder{color:#f58220;}
@media only screen and (max-width:1024px){.uk-navbar-nav{display:none;}
  .uk-navbar-toggle{padding:55px 15px;}
  .home-page-banner img{width:100%;}
  .custom-line{padding-left:45%;}
  .custom-twitter-class img{width:100%;}
  .right-side-twitter-content-block-2 .twitter-content-para{padding-top:65px;}
  .right-side-twitter-content, .right-side-twitter-content-block-2{padding-right:50px;}
  :lang(ar) .right-side-twitter-content,:lang(ar) .right-side-twitter-content-block-2{padding-left:50px;}
  .contact-from-field .wpcf7-select{width:95%;}
  .qualification-table{width:97.4%;}
  .qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control{width:92.3%;}
  .emp-degree, .emp-source, .workshop-degree{width:94% !important;}
  .workshop-table .wpcf7-number{width:88% !important;}
  .experience-table .wpcf7-text{width:86% !important;}
}
@media only screen and (max-width:959px){.uk-slidenav-position .uk-slidenav-previous{left:-25px;}
  .uk-slidenav-position .uk-slidenav-next{right:-25px;}
  .twitter-content-mobile-line{display:inline-block;padding-left:45%;padding-top:30px;padding-bottom:30px;}
  .twitter-content-line{display:none;}
  .twitter-content-img{float:right;}
  .contact-from-field .wpcf7-select{width:96%;}
  .qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control{width:89.3%;}
  .emp-degree, .emp-source{width:91% !important;}
  .workshop-table .wpcf7-number{width:82% !important;}
  .workshop-degree{width:92% !important;}
  .experience-table .wpcf7-text{width:78% !important;}
  #emp-job{width:65% !important;}
  #emp-country{width:82% !important;}
  #emp-wage{width:76% !important;}
  #emp-leaving-reason{width:80% !important;}
  #emp-attach-name{width:96% !important;}
}
@media only screen and (max-width:767px){.twitter-content-para{padding-top:0px;}
  .right-side-twitter-content-block-2 .twitter-content-para{padding-top:0px;margin-top:0px;}
  .footer-ul{display:none;}
  .footer-logo{display:none;}
  .footer-line{display:none;}
  .footer-copyright-text{font-size:12px;}
  .uk-hidden-medium{display:none !important;}
  .uk-visible-medium{display:block !important;}
  .right-text-over-banner{padding-top:20px;padding-bottom:60px;}
  .news-letter-content{padding-left:100px;}
  .twitter-content-img{float:none;}
  .our-clients-heading{padding-top:60px;}
  .right-side-twitter-content-block-2 .twitter-content-img, .twitter-content-img{margin-left:auto;}
  .left-text-over-banner{padding-left:80px;padding-right:80px;padding-top:40px;}
  :lang(ar) .left-text-over-banner{padding-top:50px;}
  .custom-double-quote-end{padding-left:80px;margin-top:-15px;}
  .custom-double-quote-start{padding-left:35px;padding-top:40px;}
  :lang(ar) .custom-double-quote-start{padding-top:55px}
  .site-logo{width:70%;padding-right:25px;}
  .tm-navbar{margin:0px;}
  .contact-from-field .wpcf7-textarea{width:90%;}
  .contact-from-field .wpcf7-select{width:93%;}
}
@media only screen and (max-width:667px){.right-text-over-banner{font-size:50px;line-height:55px;}
  .news-letter-content{padding-left:65px;}
  .contact-from-field .wpcf7-select{width:93.5%;}
  .emp-degree, .emp-source, .workshop-degree{width:auto !important;}
  .qualification-table input.wpcf7-form-control, select.wpcf7-form-control, textarea.wpcf7-form-control{width:auto;}
  .workshop-table .wpcf7-number{width:auto !important;}
  #emp-leaving-reason, #emp-wage, #emp-country , #emp-job, .experience-table .wpcf7-text, #emp-attach-name{width:auto !important;}
}
@media only screen and (max-width:435px){.uk-navbar-toggle{padding-left:30px;padding-top:40px;padding-bottom:0px;}
  .right-text-over-banner{font-size:40px;line-height:48px;padding-bottom:30px;padding-left:30px;}
  .custom-double-quote-start{font-size:70px;padding-left:20px;padding-top:20px;}
  .left-text-over-banner{padding-left:50px;padding-right:50px;padding-top:20px;}
  .custom-double-quote-end{padding-left:50px;margin-top:0px;font-size:70px;}
  .news-letter-content{padding-left:50px;}
  .custom-newsletter-label{float:none;padding-top:0px;font-size:22px;}
  .custom-newsletter-textbox{margin-left:auto;float:none;margin-top:15px;font-size:15px;}
  .custom-newsletter-button{margin-top:15px;font-size:18px;}
  .our-clients-heading{padding-top:25px;font-size:35px;line-height:45px;}
  .right-side-twitter-content-block-2 .twitter-content-img{margin-top:0px;padding-top:15px;}
  .right-side-twitter-content-block-2{padding-bottom:30px;}
  .uk-navbar-toggle{padding-left:0px;}
  .custom-line, .bottom-content-line, .twitter-content-mobile-line{padding-left:35%;}
  .custom-page-title{font-size:45px;padding-top:50px;line-height:50px;}
  .custom-page-line{padding-bottom:50px;}
  .custom-page-content{font-size:18px;line-height:25px;}
  .contact-from-field .wpcf7-select{width:96%;}
}
@media only screen and (max-width:375px){.right-text-over-banner{font-size:32px;line-height:40px;padding-left:20px;padding-top:20px;}
  .custom-double-quote-start{font-size:55px;}
  .left-text-over-banner{padding-left:45px;padding-right:45px;font-size:15px;line-height:20px;}
  .custom-double-quote-end{font-size:55px;padding-left:45px;}
  .our-clients-heading{padding-top:10px;font-size:30px;line-height:35px;}
  .custom-newsletter-label{font-size:20px;}
  .custom-newsletter-textbox{height:35px;width:200px;}
  .custom-newsletter-button{width:80px;height:39px;}
  .twitter-content-para{font-size:15px;}
  .left-side-twitter-content{padding-left:45px;padding-right:45px;}
  .right-side-twitter-content, .right-side-twitter-content-block-2{padding-left:45px;padding-right:45px;}
  .custom-page-title{font-size:40px;padding-top:35px;line-height:45px;}
  .custom-page-line{padding-bottom:35px;}
  .custom-page-content{font-size:16px;line-height:22px;}
  .contact-from-field .wpcf7-select{width:97%;}
}
@media only screen and (max-width:320px){.contact-from-field .wpcf7-select{width:98%;}
}
input{-webkit-appearance:none;-webkit-border-radius:0;}